:root {
   --main-grey-200: #acaab3;
   --main-purple:  #3e1f92;
   --main-grey-600: #8587a7;
   --light-purple-200: #e6d3fb;
   --light-purple-400: #a892e1;
}
body {
   background-color: #f9f9fb;
   font-family: 'Lato', sans-serif;
   color: #2f2f36;
   box-sizing: border-box;
}
h1 {
   font-weight: 600;
}
.main {
   display: grid;
   grid-template-rows: 150px 500px;
   margin: 0 auto;
   text-align: center;
}
.lightP {
   color: var(--main-grey-600);
}
.mainCont {
   background-color: #FFF;
   width: 1050px;
   margin: 0 auto;
   padding: 5px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr ;
   border-radius: 10px;
}
.contactInfo {
   color: #f9f9fb;
   border-radius: 15px;
   padding: 20px;
   padding-left: 35px;
   grid-column: 1;
   background-color: var(--main-purple);
   text-align: left;
}
.contactInfo > div > p {
   color: var(--light-purple-400);
} 
.contactInfo > p {
   line-height: 45px;
   color: var(--light-purple-200);
}

.formCont {
   background-color: #FFF;
   border-radius: 25px;
   grid-column: 2/4;
   padding: 15px;
   padding-left: 30px;
}

.clientContactInfo {
   color: #9b9cb1;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   font-weight: 500;
   font-size: 1.2rem;

}
.clientContactInfo {
   text-align: left;
}

.inputINFO {
   border: none;
   border-bottom: 2px solid var(--main-grey-200);
   height: 25px;
   width: 300px;
   margin-bottom: 30px;
   font-family: 'Lato', sans-serif;
   font-size: 1rem;
   color: rgb(102, 98, 98);
}
.inputINFO::placeholder {
   color: var(--main-grey-200);
   font-size: 0.9rem;
}
input:focus {
   color: #0b0b0c;
   transition-duration: 0.5s ;
   outline: none;
   border-bottom: 2px solid var(--main-purple);
}


.typeOfSite > h3 {
   color: rgb(46, 44, 44);
   margin-top: 0px;
} 
.typeOfSite {
   text-align: left;
}
.typeOfSite > label {
   color: #2f2f36;
   font-size: 1.1rem;
   margin-right: 20px;
}
input[type="radio"] {
   height: 15px;
   width: 15px;
   
}

.message {
   text-align: left;
}
.message textarea {
   outline: none;
   resize: none;
   border: none;
   border-bottom: 2px solid var(--main-grey-200);
   font-family: 'Lato', sans-serif;
}
.message textarea:focus {
   transition-duration: 0.5s ;
   outline: none;
   border-bottom: 2px solid var(--main-purple);
}
.btnCtn {
   text-align: right;
   margin-top: 20px;
   padding-right: 20px;
}
.btnCtn button {
   border: none;   
   border-radius: 10px;
   height: 60px;
   width: 180px;
   font-weight: 600;
   font-size: 1rem;
   background-color: var(--main-purple);
   color:#FFF
}